/* Kerstin CSS */

.About-kerstin {
    display: flex;
  }
  
  .About-kerstin img {
    order: 2;
    width: 100%;
    height: auto;
    transform: translateX(100%);
    transition: transform 1s;
  }
  
/* Stephan CSS */

.About-stephan {
    display: flex;
  }
  
  .About-stephan img {
    order: 1;
    width: 100%;
    height: auto;
    transform: translateX(-100%);
    transition: transform 1s;
  }

/* Bernd CSS */

.About-bernd {
    display: flex;
  }
  
  .About-bernd img {
    order: 2;
    width: 55%;
    height: auto;
    transform: translateX(100%);
    transition: transform 1s;
  }

/* Joerg CSS */

.About-joerg {
    display: flex;
  }
  
  .About-joerg img {
    order: 1;
    width: 100%;
    height: auto;
    transform: translateX(-100%);
    transition: transform 1s;
  }

/* Matthias CSS */

.About-matthias {
    display: flex;
  }
  
  .About-matthias img {
    order: 2;
    width: 100%;
    height: auto;
    transform: translateX(100%);
    transition: transform 1s;
  }

  /* Texte */

  .beschreibung_links_kerstin {
    order: 1;
    font-size: 1.2rem;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
  }

  .beschreibung_links {
    order: 1;
    font-size: 1.2rem;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
  }

  .beschreibung_rechts {
    order: 2;
    font-size: 1.2rem;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10%;
    padding-right: 10%;
    text-align: right;
  }

  /* Animationen */

  .animate-from-right {
    opacity: 1;
    animation: slideFromRight 1s forwards;
  }
  
  .animate-from-left {
    opacity: 1;
    animation: slideFromLeft 1s forwards;
  }
  
  @keyframes slideFromRight {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideFromLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  