/* Kerstin CSS */

.About-kerstin {
    display: flex;
  }
  
  .About-kerstin img {
    order: 2;
  }
  
  .beschreibung_links {
    order: 1;
    margin-top: auto;
    margin-bottom: auto;
  }

/* Stephan CSS */

.About-stephan {
    display: flex;
  }
  
  .About-stephan img {
    order: 1;
  }
  
  .beschreibung_rechts {
    order: 2;
    margin-top: auto;
    margin-bottom: auto;
  }

/* Bernd CSS */

.About-bernd {
    display: flex;
  }
  
  .About-bernd img {
    order: 2;
  }
  
  .beschreibung_links {
    order: 1;
    margin-top: auto;
    margin-bottom: auto;
  }

/* Joerg CSS */

.About-joerg {
    display: flex;
  }
  
  .About-joerg img {
    order: 1;
  }
  
  .beschreibung_rechts {
    order: 2;
    margin-top: auto;
    margin-bottom: auto;
  }

/* Matthias CSS */

.About-matthias {
    display: flex;
  }
  
  .About-matthias img {
    order: 2;
  }
  
  .beschreibung_links {
    order: 1;
    margin-top: auto;
    margin-bottom: auto;
  }