/* App CSS */

.App {
  text-align: center; /* Zentriert den Text horizontal */
  background-color: #282c34; /* Hintergrundfarbe */
}

.App-header {
  background-color: #282c34; /* Hintergrundfarbe */
  display: flex; /* Aktiviert Flexbox */
  flex-direction: column; /* Stapelt die Elemente vertikal */
  align-items: center; /* Zentriert die Elemente horizontal */
  font-size: calc(10px + 2vmin); /* Dynamische Schriftgröße basierend auf Viewport-Größe */
  color: white; /* Textfarbe */
  margin-bottom: 0px; /* Unteren Abstand auf 0 setzen */
}

/* Navbar CSS */

.Navbar {
  background-color: #282c34; /* Hintergrundfarbe */
  padding-top: 10px; /* Oberen Innenabstand */
  padding-bottom: 10px; /* Unteren Innenabstand */
  position: sticky; /* Positioniert das Element relativ zum Viewport */
  top: 0; /* Oben an der Seite positionieren */
  z-index: 1000; /* Stapelt das Element über anderen Inhalten */
  transition: all 0.3s ease; /* Sanfter Übergang für alle Eigenschaften */
}

.Navbar--scrolled {
  padding-top: 5px; /* Angepasster oberer Innenabstand nach dem Scrollen */
  padding-bottom: 5px; /* Angepasster unterer Innenabstand nach dem Scrollen */
  font-size: 0.6em; /* Verkleinerte Schriftgröße für den gescrollten Zustand */
}

.Navbar ul {
  list-style-type: none; /* Entfernt die Aufzählungszeichen */
  margin: 0; /* Äußerer Abstand auf 0 setzen */
  padding: 0; /* Inneren Abstand auf 0 setzen */
  display: flex; /* Aktiviert Flexbox */
  justify-content: space-around; /* Zentriert und verteilt die Elemente gleichmäßig */
}

.Navbar li {
  margin: 0 15px; /* Fügt etwas Abstand zwischen den Elementen hinzu */
}

.Navbar a {
  color: white; /* Setzt die Schriftfarbe auf Weiß */
  text-decoration: none; /* Entfernt Unterstreichungen von Links */
  font-family: Arial, sans-serif; /* Setzt die Schriftart auf Arial */
}

/* Header Bild CSS */

.Bandfoto {
  width: 99vw; /* Breite des Bildes auf 100% der Viewport-Breite setzen */
  height: auto; /* Automatische Anpassung der Höhe */
  margin-top: 0px; /* Oberen Abstand auf 0 setzen */
  margin-bottom: 40px; /* Unteren Abstand */
}

/* Body CSS */

.Body {
  background-color: #282c34; /* Hintergrundfarbe */
}

/* Tour CSS */

.Tour-main {
  display: flex; /* Aktiviert Flexbox */
  justify-content: center; /* Zentriert den Inhalt horizontal */
  margin-bottom: 40px;
}

.Tour-container {
  border: 2px solid aliceblue; /* Rahmen mit einer Dicke von 2px und der Farbe aliceblue */
  border-radius: 10px; /* Optional: Runde die Ecken des Rahmens ab */
  padding: 20px; /* Füge Innenabstand zum Inhalt hinzu, damit der Inhalt nicht am Rahmen anliegt */
  order: 1; /* Ändert die Reihenfolge im Flex-Container */
  align-items: center; /* Zentriert den Inhalt vertikal */
  background-color: #282c34; /* Hintergrundfarbe */
  color: white; /* Textfarbe */
  margin: 0 2%; /* Setzt den äußeren Abstand auf oben/unten 0 und links/rechts automatisch */
  padding: 0; /* Inneren Abstand auf 0 setzen */
}

.Tour-container ul {
  list-style-type: none; /* Entfernt die Aufzählungszeichen */
  margin: 0; /* Äußerer Abstand auf 0 setzen */
  padding: 0; /* Inneren Abstand auf 0 setzen */
  text-align: center; /* Ändert die Ausrichtung auf zentriert */
}

.Tour-container li {
  margin: 0 15px; /* Fügt etwas Abstand zwischen den Elementen hinzu */
  padding: 10px; /* Inneren Abstand für Listenpunkte */
}

.Tour-station {
  border: 2px solid aliceblue; /* Rahmen mit einer Dicke von 2px und der Farbe aliceblue */
  border-radius: 10px; /* Optional: Runde die Ecken des Rahmens ab */
  padding: 20px; /* Füge Innenabstand zum Inhalt hinzu, damit der Inhalt nicht am Rahmen anliegt */
  order: 2; /* Ändert die Reihenfolge im Flex-Container */
  align-items: center; /* Zentriert den Inhalt vertikal */
  background-color: #282c34; /* Hintergrundfarbe */
  color: white; /* Textfarbe */
  text-align: center; /* Zentriert den Text horizontal */
  margin: 0 2%; /* Setzt den äußeren Abstand auf oben/unten 0 und links/rechts automatisch */
}

.Tour-foto {
  width: 40vw; /* Breite des Bildes auf 40% der Viewport-Breite setzen */
  height: auto; /* Automatische Anpassung der Höhe */
  margin-bottom: 80px; /* Unteren Abstand */
}

/* CSS für kleine Bildschirme (z.B. Smartphones) */
@media screen and (max-width: 600px) {
  .Tour-main {
    flex-direction: column; /* Ändert die Ausrichtung der Flex-Elemente auf vertikal */
  }

  .Tour-container,
  .Tour-station {
    margin: 30px; /* Entfernt den horizontalen Abstand zwischen den Spalten */
  }
}

/* Carousel CSS */

.Carousel-container {
  width: 50%; /* Breite des Containers auf 50% des Elternelements setzen */
  margin: auto; /* Zentriert den Container horizontal */
  background-color: #282c34; /* Hintergrundfarbe */
  border: 1px solid #ccc; /* Rand um den Container */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Schatten um den Container */
}

/* Footer CSS */

.Footer-main {
  background-color: #282c34; /* Hintergrundfarbe */
  color: white; /* Textfarbe */
  margin-top: 0; /* Oberen Abstand auf 0 setzen */
  margin-bottom: 0; /* Unteren Abstand auf 0 setzen */
  padding-top: 100px; /* Oberen Innenabstand */
  padding-bottom: 10px; /* Unteren Innenabstand */
}

.Footer-main a {
  text-decoration: none; /* Entfernt den Unterstrich */
}

/* About CSS */

.About-main {
  background-color: #282c34; /* Hintergrundfarbe */
  color: white; /* Textfarbe */
  margin-top: 0; /* Oberen Abstand auf 0 setzen */
  margin-bottom: 0; /* Unteren Abstand auf 0 setzen */
  padding-top: 100px; /* Oberen Innenabstand */
  padding-bottom: 10px; /* Unteren Innenabstand */
}

/* Kontakt CSS */

.Kontakt-container {
  display: flex;
  justify-content: center; /* Zentriert den Inhalt horizontal */
  align-items: center; /* Zentriert den Inhalt vertikal */
  height: 100vh; /* Setzt die Höhe auf die volle Bildschirmhöhe */
}

.Kontakt-main {
  width: 50%;
  background-color: #282c34; /* Hintergrundfarbe */
  color: white; /* Textfarbe */
  padding: 20px; /* Innenabstand */
}