.Tourdaten-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
}

.Tourdaten-block {
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
  padding-top: 50px;
}

.Tourdaten-text,
.Tourdaten-bild {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}


.Tourdaten-bild img {
  width: 40vw;
  height: 40vw;
}

@media (max-width: 700px) {
  .Tourdaten-block {
    flex-direction: column;
  }
}
