.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 0px;
}

.Navbar {
  background-color: #282c34;
  padding-top: 10px;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: all 0.3s ease; /* Sanfter Übergang */
}

.Navbar--scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.6em; /* Beispiel für eine verkleinerte Schriftgröße */
}

.Navbar ul {
  list-style-type: none; /* Entfernt die Aufzählungszeichen */
  margin: 0;
  padding: 0;
  display: flex; /* Aktiviert Flexbox */
  justify-content: space-around; /* Zentriert und verteilt die Elemente gleichmäßig */
}

.Navbar li {
  margin: 0 15px; /* Fügt etwas Abstand zwischen den Elementen hinzu */
}

.Navbar a {
  color: white; /* Setzt die Schriftfarbe auf Weiß */
  text-decoration: none; /* Entfernt Unterstreichungen von Links */
  font-family: Arial, sans-serif; /* Setzt die Schriftart auf Arial */
}

.Bandfoto {
  width: 99vw;       /* Breite des Bildes auf 100% der Viewport-Breite setzen */
  height: auto;       /* Automatische Anpassung der Höhe */
  margin-top: 0px;      /* Oberer Abstand auf 0 setzen */
  margin-bottom: 40px; /* Unterer Abstand */
}

.Body {
  background-color: #282c34;
}

.Tour-container {
  background-color: #282c34;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.Tour-container ul {
  list-style-type: none; /* Entfernt die Aufzählungszeichen */
  margin-top: 0;
  margin-bottom: 80px;
  padding-top: 0;
  padding-bottom: 0;
  list-style-type: none;
  padding: 0;
  text-align: center; /* Ändert die Ausrichtung auf zentriert */
}

.Tour-container li {
  margin: 0 15px;
  padding: 10px;
}

.Year-container h2{
  background-color: #282c34;
  color: white;
  margin-top: 0;
  margin-bottom: 40px;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center; /* Ändert die Ausrichtung auf zentriert */
}

.Carousel-container {
  width: 50%;
  margin: auto;
  background-color: #282c34;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.Footer-main {
  background-color: #282c34;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 100px;
  padding-bottom: 100px;
}