.Image-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 20px;
  }
 
  .Bandfoto {
    opacity: 0;
    transform: translateX(-100%) scaleX(-1);
    animation: slideFromLeft 1s forwards;
    max-width: 100%;
    height: auto;
    bottom: 0;
  }
  
  .Schriftzug {
    margin-top: auto; /* Zentriere vertikal */
    margin-bottom: auto; /* Zentriere vertikal */
    
  }

  .Tight, .FemaleFronted {
    opacity: 0; /* Starte mit einer Opazität von 0 */
    transform: translateX(100%); /* Verschiebe die Elemente 100% der Containerbreite nach rechts */
  }
  
  .Tight {
    font-size: calc(5vw + 40px);;
    font-family: 'EngraversOldEnglish', sans-serif;
    opacity: 0; /* Starte mit einer Opazität von 0 */
    transform: translateX(100%); /* Verschiebe die Elemente 100% der Containerbreite nach rechts */
    animation: slideFromRightH1 1s forwards; /* Verwende die slideFromRight-Animation mit einer Dauer von 1 Sekunde */
  }

  .FemaleFronted {
    font-size: calc(0.5vw + 20px);
    opacity: 0; /* Starte mit einer Opazität von 0 */
    transform: translateX(100%); /* Verschiebe die Elemente 100% der Containerbreite nach rechts */
    animation: slideFromRightH2 1s forwards; /* Verwende die slideFromRight-Animation mit einer Dauer von 1 Sekunde */
    animation-delay: 1s;
  }
  
  @keyframes slideFromRightH1 {
    from {
      opacity: 0; /* Starte mit einer Opazität von 0 */
      transform: translateX(100%); /* Starte mit einer Verschiebung um 100% der Containerbreite nach rechts */
    }
    to {
      opacity: 1; /* Ende mit einer Opazität von 1 */
      transform: translateX(0); /* Ende mit einer Verschiebung um 0 (keine Verschiebung) */
    }
  }
  
  @keyframes slideFromRightH2 {
    from {
      opacity: 0; /* Starte mit einer Opazität von 0 */
      transform: translateX(100%); /* Starte mit einer Verschiebung um 100% der Containerbreite nach rechts */
    }
    to {
      opacity: 1; /* Ende mit einer Opazität von 1 */
      transform: translateX(0); /* Ende mit einer Verschiebung um 0 (keine Verschiebung) */
    }
  }

  @keyframes slideFromLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }  
  
@font-face {
    font-family: 'EngraversOldEnglish';
    src: url('./fonts/OPTIEngraversOldEnglish.otf') format('opentype');
  }

  .Header-bottom-bar {
    width: 100%; /* Fülle die gesamte Breite des Headers */
    height: 10px; /* Definiere die Höhe des Balkens */
    background-color: #1f232e; /* Setze die Hintergrundfarbe des Balkens */
    bottom: 0; /* Platziere den Balken am unteren Rand des Headers */
  }